# Extra options for Java
EXTRA_JAVA_OPTS="Extra options for Java. For example: -Djavax.net.ssl.trustStoreType=KeychainStore"

# Log levels
SPRING_LOG_LEVEL="Log level for Spring. For example: INFO"
LOG_LEVEL="General log level. For example: INFO"

# Maximum upload size
MAX_UPLOAD_SIZE="Maximum upload size. For example: 10MB"

# Keycloak Auth
KEYCLOAK_SCHEME="Keycloak scheme. For example: https"
KEYCLOAK_AUTH_SERVER="Keycloak auth server. For example: keycloak.ooguy.com"
KEYCLOAK_AUTH_PORT="Keycloak auth port. For example: 8443"
REALM_NAME="Realm name. For example: timetable-oauth"
KEYCLOAK_PUBLIC_KEY="Keycloak public key"
KEYCLOAK_CLIENT_ID="Keycloak client ID"
KEYCLOAK_CLIENT_SECRET="Keycloak client secret"

# Certificate details
CERTIFICATE_FILENAME="Certificate filename. For example: host.docker.internal+3.pem"
CERTIFICATE_PRIVATE_KEY_FILENAME="Certificate private key filename. For example: host.docker.internal+3-key.pem"

# Server details
SERVER_PORT="Server port. For example: 8443"
HTTP_PORT="HTTP port. For example: 8080"

# Database details
DB_SOURCE="MySQL database host. For example: localhost or 127.0.0.1"
DB_PORT="MySQL database port. For example: 3306"
DB_NAME="MySQL database name"
DB_USER="MySQL database user"
DB_PASSWORD="MySQL database password"

# Access tokens and secrets
MY_ACCESS_TOKEN="Your access token"
MY_ACCESS_SECRET="Your access secret"
API_KEY="Your API key"
API_SECRET="Your API secret"
BEARER_TOKEN="Your bearer token"
CLIENT_ID="Your client ID"
CLIENT_SECRET="Your client secret"

# Upload path
LOCAL_UPLOAD_PATH="Local upload path. For example: /media/uploads/"

# OpenAI token
OPENAI_TOKEN="Your OpenAI token"

# Admin client details
ADMIN_CLIENT_ID="Admin client ID"
ADMIN_CLIENT_SECRET="Admin client secret"

# OpenAI role details
OPENAI_ROLE_NAME="OpenAI role name"
OPENAI_ROLE_ID="OpenAI role ID"
