<nb-layout>
  <nb-layout-header fixed>
    <img class="logo" src="assets/assistant-by-dlab.png" alt="MyAssist"/>
    <a href="#" (click)="toggle()"><i class="nb-menu"></i><nb-icon icon="menu-outline"></nb-icon></a>
    <button
      *ngIf="isUserLoggedIn|async"
      nbButton status="danger"
      class="logout-button"
      (click)="logout()"
    >
      Logout
    </button>
    <button
      *ngIf="!(isUserLoggedIn|async)"
      nbButton status="assistant"
      class="logout-button"
      routerLink="/assistant"
    >
      Login
    </button>
  </nb-layout-header>
  <nb-sidebar>
    <nb-menu [items]="sidebarItems"></nb-menu>
  </nb-sidebar>
  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        <table nbTable class="table">
          <thead>
          <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Approval Status</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of userData">
            <td>{{ user.username }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>
              <nb-toggle status="primary" [(checked)] = user.status (change)="onToggleChanged(user.status, user.id)"></nb-toggle>
            </td>
          </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
